<!DOCTYPE>
<html lang="">
<head>
    <title>mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- use the font -->
</head>
<body>
    <div style="background:#eae7e7;
    border-radius:12px;
    padding:5%;
    box-shadow: 0 4px 24px rgb(0 0 0 / 40%);
    color: #6f7472;
    width: 600px;
    align-items: center;
    align-content: center;">
        <h1  th:text="${'Hello Dear ' + name}"
            style="font-size: 35px; color:#0887ec; font-weight: bold;">Demo</h1>
        <p style="font-size: 18px;">
            The credentials to access the application are
        </p>
        <h2  style="font-size: 20px;" th:text="${'User name: ' + userName}"></h2>
        <h2 style="font-size: 20px;" th:text="${'Password: ' + password}"></h2>
        <p style="font-size: 18px">Enter the following link to access the application:
            <br/>
            <a th:href="${url}" th:text="${'URL page: ' + url}"></a>
        </p>
    </div>
</body>
</html>